<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteca-prestamo</title>
</head>
<body>
    <form action="{{ url_for('volver') }}">
        <input type="submit" value="Volver">
    </form>
    <h1>Prestamos</h1>

    <p>{{ mensaje }}</p>

    <form action="{{ url_for('crear_prestamo') }}" method="post">
        <div>
            <table>
                <tr>
                    <td><label>ID del libro</label></td>
                    <td><input type="number" name="id_libro" id="id_libro"></td>
                </tr>
            </table>
            <br><br>
            <input type="submit" value="Pedir">
        </div>

        <div>
            <br>
            <label>Lista de libros aqui:</label>

            {% if codigo_mensaje == "error" %}
                <p>ERROR CARGA DE LIBROS: {{ e }}</p>
            {% elif codigo_mensaje == "vacia" %}
                <p>No hay libros disponibles en este momento</p>
            {% else %}
                {% for libro in lista%}
                    <p>__________________________________________________________________</p>
                    <p>ID: {{ libro[0] }}</p>
                    <p>Titulo: {{ libro[1] }}</p>
                    <p>Autor: {{ libro[2] }} {{ libro[3] }}</p>
                    <p>Precio: {{ libro[4] }}</p>
                {% endfor %}
            {% endif %}
        </div>
    </form>
</body>
</html>