<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteca-mandar_correo</title>
</head>
<body>
    <form action="{{ url_for('volver') }}">
        <input type="submit" value="Volver">
    </form>

    <h1>Correo</h1>
    
    <form method="post">
        <table>
            <tr>
                <td>Para</td>
                <td><input type="email" name="para" id="para"></td>
            </tr>
            <tr>
                <td>Mensaje</td>
            </tr>
        </table>
        <td><textarea name="mensaje" id="mensaje" cols="50" rows="20"></textarea></td>
        <br><br>
        <input type="submit" value="Enviar">
    </form>
    <br><br>
    <a href="">Mi buzon</a>
</body>
</html>