<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
</head>
<body>
    <h1>Esto es el inicio donde uno inicia sesion</h1>

    <a href="{{ url_for('auth.login') }}">login</a>
    <br>
    <a href="{{ url_for('auth.logout') }}">logout</a>
    <br>
    <a href="{{ url_for('libros.registrar_libro') }}">registrar libro</a>
    <br>
    <a href="{{ url_for('libros.crear_libro') }}">crear libro</a>
</body>
</html>